<div class="mt-4 mb-4">
    <h2>C1 Platform</h2>
    <div>
        <p class="lead" >Following is the data passed to gateway by Platform</p>
        <div class="d-flex flex-column">
            <p class="card-text mb-0">Issuer: {{iss}}</p>
            <p class="mb-0">User Id: {{userId}}</p>
            <p class="mb-0">Resource Link Id: {{resLinkId}}</p>
            <p class="mb-0">Deployment Id: {{deploymentId}}</p>
        </div>
    </div>

</div>
<div class="iframeContainer">
    <iframe src={{iframeSrc}}></iframe>
</div>